.index-reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .review-line {
    display: flex;
    flex-direction: column;
    height: 102px;
    width: calc(100% / 7);
    padding: 0px 12px;
    border-left: 1px solid #DDDDDD;

    @media screen and (max-width: 1130px) {
      .fs32 {
        font-size: 24px !important;
      }

      .fs18 {
        font-size: 12px !important;
      }

      .fs14 {
        font-size: 12px !important;
      }
    }
  }

  .text {
    // familay
  }

  .rating {
    color: #333;
  }

  .icon {
    font-size: 1.5em;
    color: #666;
    margin-top: 10px;
  }

  .separator {
    font-size: 30px;
    color: #000;
  }
}

@media screen and (max-width: 745px) {
  .index-reviews {
    display: none;
  }
}