.reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
  }
  
  .review-prev {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // height: 260px; 
    //* to check the height (test)
    // background: #f9f9f9; 
    // border-radius: 8px; 
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    @include for-max-narrow-layout {
      margin-right: 30px;
      height: auto;
    }
  }
  
  .mini-user-details {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 16px;
  
    .mini-user-img {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  
    p {
      font-size: 1em;
      padding-inline-start: 12px;
      font-weight: 600;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; 
    }
  
    span {
      font-size: 0.875em;
      padding-inline-start: 12px;
      color: #888;
    }
  }
  
  .long-txt-reviews {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  