@font-face {
    font-family: 'Cereal-Book';
    src: url('../../fonts/Cereal/Cereal-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Cereal-Medium';
    src: url('../../fonts/Cereal/Cereal-Medium.ttf') format('truetype');
}
@font-face {
    font-family: cereal-Bold;
    src: url(../../fonts/AirbnbCereal_Bold.otf);
  }

  @font-face {
    font-family: cereal-Medium;
    src: url(../../fonts/AirbnbCereal_W_Md.otf);
  }


  