# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

frontend/node_modules
# Ignore API key in the code
.env.local
.env.*.local
# DON'T ignore .env in development
!.env


# api 
const API_URL =
  'https://api-inference.huggingface.co/models/facebook/blenderbot-400M-distill'
'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';
 const API_KEY = 