.currency-modal-container {
    margin: 0 !important;

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 10500;
    }

    .modal {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        // display: grid;
        gap: 10px;
        height: 80%;
        max-width: em(830px);
        align-items: start;
        overflow-y: auto;
        z-index: 1000;
    }

    .grid-buttons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
    }

    button {
        min-height: 3.4375em;
        min-width: 11.25em;
        padding: 9px 12px;
        margin: 0px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background: transparent;
        text-align: start;
    }

    h3 {
        font-size: rem(20px);
    }

    //! the & not working here 
    button:hover {
        background-color: #f0f0f0;
    }

    button:focus {
        border: 1px solid black;
    }

    button.selected {
        border: 1px solid black;
    }
}

@media (max-width: 1130px) {
    .grid-buttons {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 900px) {
    .grid-buttons {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

.currency-name {
    display: block;
}

.currency-symbol {
    font-size: 1.2em;
}


@media (max-width: 745px) {
    .currency-modal-container {
        .modal {

            border-radius: 0;

            height: 100%;
            width: 100%;
        }
    }
}