@media (max-width: 785px) {
    .info-details-house__container {
        padding: 0px 0px 24px;
        .fs22 {
            font-size: rem(16px) !important;
        }
        .fs18 {
            font-size: rem(14px) !important;
        }
    
        .fs16 {
            font-size: rem(14px) !important;
        }
        .fs17 {
            font-size: rem(15px) !important;
        }
    }
}
