.modal-footer__language {
    margin: 0 !important;
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        gap: 10px;
        align-items: start;
        overflow-y: auto;
    }

    button {
        min-height: 3.4375em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(5);
        min-width: 11.25em;
        padding: 9px 12px;
        margin: 0px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background: transparent;
        text-align: start;
    }

    h3 {
        font-size: rem(20px);
    }

    button:hover {
        background-color: #f0f0f0;
    }

    button:focus {
        border: 1px solid black;
    }

    button.selected {
        border: 1px solid black;
    }
}
