.navBar-container {
    display: flex;
    white-space: nowrap;
    scroll-behavior: smooth;
    // position: sticky;
    // position: fixed;
    // top: 100;
    // left: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 0px;
    z-index: 10;
    background-color: #fff;
    color: #6A6A6A;
    line-height: 2.875;
    margin-top: 15px;
    // margin-top: -125px;

    .btn-container {
        display: flex;
        align-items: center;

        @include for-mobile-layout {
            display: none !important;
        }
    }

    .filter-bar-btn-img {
        width: 14px;
    }

    .button-style__navBar {
        height: 42px;
        width: 30px;
        text-align: center;
        margin-inline-start: 24px;
        font-size: 12px;
        margin: 0;
        border: 1px solid hsl(0, 0%, 69%);
        border-radius: 12px;
    }
}

.navBar-container.scrolling {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    .left-icon__list {
        margin: 12px 0 0px;
    }

    .right-icon__list {
        margin: 12px 0 0px;
    }

    .category-list {
        margin: 12px 0 0px;
        // margin-top: 120px;
    }
}

.category-list {
    display: flex;
    gap: 38px;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    background-color: unset;
    color: #6A6A6A;
    padding: 4px 0px;
    margin: 20px 0px 12px;
    line-height: 2.875;
    z-index: 10;

    img {
        background-color: unset;
    }

    .category-item {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &.selected {
            border-bottom: 3px solid #000;
        }

        &:hover {
            color: #000;
        }
    }

    .category-item::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $clr-hover-bg-dark;
        transition: width 0.3s ease;
    }

    .category-item:hover::after {
        width: 100%;
    }

    button.selected {
        border: 1px solid $clr-border;
        background-color: $clr-hover-bg;
        border-color: $clr-black;
        border-width: 3px;
    }

    .right-icon__list {
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .left-icon__list {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

.scale-on__hover:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 1440px) {
    .main-layout__navBar {
        padding: 0px 80px 0px 0px !important;
    }
}

@media screen and (min-width: 985px) and (max-width: 1440px) {
    .main-layout__navBar {
        padding: 0px 40px 0px 0px !important;
    }
}

@media screen and (max-width: 985px) {
    .main-layout__navBar {
        padding: 0px 24px 0px 0px !important;
    }
}

@media screen and (min-width: 1440px) {
    .main-layout__navBar2 {
        padding: 0px 0px 0px 80px !important;
    }
}

@media screen and (min-width: 985px) and (max-width: 1440px) {
    .main-layout__navBar2 {
        padding: 0px 0px 0px 40px !important;
    }
}

@media screen and (max-width: 985px) {
    .main-layout__navBar2 {
        padding: 0px 0px 0px 24px !important;
    }
}

.filter-button__navBar {
    padding-left: 10px !important;
}

.filter-bar-btn__img {
    width: 14px;
  }

  .only-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;


    background-color: #FFFFFF;

    border-color: hsl(0, 0%, 87%);
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;

    text-align: center;

    color: #222222;
    font-family: cereal-Medium;
    font-size: 1rem;
    line-height: 20px;

    transition: box-shadow 0.2s ease, transform 0.1s ease;
  }