.host-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.menu-link {
  font-size: 16px;
  padding: 10px 16px;
  line-height: 18px;

  font-family: cereal-Bold;
  color: $clr-text-secondary;
  text-decoration: none;

  &.active {
    color: $clr-text-primary;
  }
}

.order-page {
  padding: 0 40px;

  h2 {

    font-size: 32px;
  }

  h3 {
    padding-top: 64px;
    font-size: 26px;
    font-family: cereal-Medium;
  }

  table {
    width: 100%;
    table-layout: fixed;
    text-align: start;

    th {
      text-align: start;
      font-size: 12px;
      text-transform: uppercase;
      font-family: cereal-Bold;
      color: $clr-text-secondary;
      padding-inline: 0.5em;
      padding-block: 0.8em;
    }

    td {
      padding-inline: 0.5em;
      padding-block: 0.2em;
    }

    tr:nth-child(odd) {
      background: $clr-white;
    }

    tr:nth-child(even) {
      background: hsl(0, 0%, 95%);
    }

    th {
      background: hsl(0, 0%, 92%);
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 200px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 200px;
    }

    th:nth-child(4),
    td:nth-child(4) {
      width: 200px;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 200px;
    }

    th:nth-child(5),
    td:nth-child(5) {
      width: 200px;
    }

    th:nth-child(6),
    td:nth-child(6) {
      width: 265px;
    }

    .order-status {
      color: $clr-text-secondary;
      font-family: cereal-medium;
    }

    .action-btns>* {
      display: flex;
      margin-left: 15px;
    }

    button {
      display: flex;
      flex: 1;
      background-color: $clr-white;
    }

    button:first-child {
      color: #28a745;
      background-image: none;
      border-color: #28a745;

      &:hover {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
      }

      &.disable {
        color: $clr-text-secondary;
        border-color: $clr-text-secondary;
        background-color: $clr-hover-bg;
      }
    }

    button:last-child {
      color: #dc3545;
      background-image: none;
      border-color: #dc3545;

      &:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
      }

      &.disable {
        color: $clr-text-secondary;
        border-color: $clr-text-secondary;
        background-color: $clr-hover-bg;
      }
    }
  }

  .app-header {
    justify-content: space-between !important;
  }
}

.dashboard-page {
  h2 {
    padding-top: 64px;
    font-size: 32px;
  }

  h3 {
    padding-top: 64px;
    font-size: 26px;
    font-family: cereal-Medium;
  }
}

//* not necery to do it like that
//* that is not the right way i know
.pointer.complete {
  color: #0000FF !important;
  background-image: none !important;
  border-color: #0000FF !important;
}

.pointer.complete:hover {
  color: #fff !important;
  background-color: #0000FF !important;
  border-color: #0000FF !important;
}

.pointer.complete.disable {
  color: #696969 !important;
  border-color: #696969 !important;
  background-color: #f0f0f0 !important;
}

.pointer.complete[disabled] {
  color: #696969 !important;
  background-color: #f0f0f0 !important;
  border-color: #696969 !important;
  cursor: not-allowed !important;
}

// 1400
@media screen and (max-width: 1400px) {
  .order-page {
    padding: 0 ;
  }
}